#header1-b H1 {
  text-align: right;
  font-size: 46px;
}
#header1-b B {
  font-size: 36px;
}
#header1-c H1 {
  text-align: right;
  font-size: 46px;
}
#header1-c B {
  font-size: 36px;
}
#header1-e H1 {
  text-align: right;
  font-size: 46px;
}
#header1-e B {
  font-size: 36px;
}
